
.button {
  border: 1px solid black;
}

.button:hover {
  background-color: black;
  color: black !important;
}

.button1 {
  border: 1px solid black;
}

.button1:hover {
  background-color: black;
  color: white !important;
}

#formUtils {
  margin-top: 12vh;
}

#myBox {
  background-color: transparent;
  color: black;
}

#About {
  margin-top: 20vh;
}

.accordion-button::after{
  filter: invert(1) !important;
}
